/*
	Rocket Internet by TEMPLATE STOCK
    templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Typography CSS */
body
{
    font-family: 'Lato', sans-serif;
    color: #41484b;
}



/* Heder */
#homeFullScreen {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top center;
}

#homeFullScreen {
    background-image: url('https://www.publicdomainpictures.net/pictures/270000/nahled/swimming-pool-water-background-1532243683FXJ.jpg');
    overflow: hidden;
}

#homeFullScreen {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.header-text h1
{
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}

.header-text .vertical-line
{
    height: 2px;
    background-color: #fff;
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.header-text p
{
    font-size: 26px;
    color: rgb(15, 1, 1);
}


